header {
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
}

header > div {
  margin-left: 20px;
}

header > div.logo {
  width: 100%;
  height: 100%;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: left center;
}
